<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Basic CRUD Application - jQuery EasyUI CRUD Demo</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://www.jeasyui.com/easyui/themes/default/easyui.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://www.jeasyui.com/easyui/themes/icon.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://www.jeasyui.com/easyui/themes/color.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://www.jeasyui.com/easyui/demo/demo.css"
    />
    <script
      type="text/javascript"
      src="https://www.jeasyui.com/easyui/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"
    ></script>
  </head>
  <body>
    <h2>ESTUDIANTES</h2>

    <a href="./index.html" class="flex justify-end items-center pr-24"
      ><button class="bg-white text-pink-700 h-8 rounded w-16 font-bold">
        Manual
      </button></a
    >
    <p>Click the buttons on datagrid toolbar to do crud actions.</p>

    <table
      id="dg"
      title="My Users"
      class="easyui-datagrid"
      style="width: 700px; height: 250px"
      url="../controller/controllerEstudiante.php"
      method="GET"
      toolbar="#toolbar"
      pagination="true"
      rownumbers="true"
      fitColumns="true"
      singleSelect="true"
    >
      <thead>
        <tr>
          <th field="cedula" width="50">Cedula</th>
          <th field="nombre" width="50">Nombre</th>
          <th field="apellido" width="50">Apellido</th>
          <th field="direccion" width="50">Direccion</th>
          <th field="telefono" width="50">Telefono</th>
        </tr>
      </thead>
    </table>
    <div id="toolbar">
      <a
        href="javascript:void(0)"
        class="easyui-linkbutton"
        iconCls="icon-add"
        plain="true"
        onclick="newUser()"
        >New Student</a
      >
      <a
        href="javascript:void(0)"
        class="easyui-linkbutton"
        iconCls="icon-edit"
        plain="true"
        onclick="editUser()"
        >Edit Student</a
      >
      <a
        href="javascript:void(0)"
        class="easyui-linkbutton"
        iconCls="icon-remove"
        plain="true"
        onclick="destroyUser()"
        >Remove Student</a
      >
    </div>

    <div
      id="dlg"
      class="easyui-dialog"
      style="width: 400px"
      data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'"
    >
      <form
        id="fm"
        method="post"
        novalidate
        style="margin: 0; padding: 20px 50px"
      >
        <h3>Student Information</h3>
        <div style="margin-bottom: 10px">
          <input
            name="cedula"
            class="easyui-textbox"
            required="true"
            label="Cedula:"
            style="width: 100%"
          />
        </div>
        <div style="margin-bottom: 10px">
          <input
            name="nombre"
            class="easyui-textbox"
            required="true"
            label="Nombre:"
            style="width: 100%"
          />
        </div>
        <div style="margin-bottom: 10px">
          <input
            name="apellido"
            class="easyui-textbox"
            required="true"
            label="Apellido:"
            style="width: 100%"
          />
        </div>
        <div style="margin-bottom: 10px">
          <input
            name="direccion"
            class="easyui-textbox"
            required="true"
            label="Direccion:"
            style="width: 100%"
          />
        </div>

        <div style="margin-bottom: 10px">
          <input
            name="telefono"
            class="easyui-textbox"
            required="true"
            label="Telefono:"
            style="width: 100%"
          />
        </div>
      </form>
    </div>
    <div id="dlg-buttons">
      <a
        href="javascript:void(0)"
        class="easyui-linkbutton c6"
        iconCls="icon-ok"
        onclick="saveUser()"
        style="width: 90px"
        >Save</a
      >
      <a
        href="javascript:void(0)"
        class="easyui-linkbutton"
        iconCls="icon-cancel"
        onclick="javascript:$('#dlg').dialog('close')"
        style="width: 90px"
        >Cancel</a
      >
    </div>
    <script type="text/javascript">
      var url;
      function newUser() {
        $("#dlg")
          .dialog("open")
          .dialog("center")
          .dialog("setTitle", "New User");
        $("#fm").form("clear");
        url = "../controller/controllerEstudiante.php";
        method = "POST";
      }

      function editUser() {
        var row = $("#dg").datagrid("getSelected");
        if (row) {
          $("#dlg")
            .dialog("open")
            .dialog("center")
            .dialog("setTitle", "Editar Estudiante");
          $("#fm").form("load", row);
          url = "../model/update.php?cedula=" + row.cedula;
        }
      }
      function saveUser() {
        $("#fm").form("submit", {
          url: url,
          iframe: false,
          onSubmit: function () {
            return $(this).form("validate");
          },
          success: function (result) {
            var result = eval("(" + result + ")");
            if (result.errorMsg) {
              $.messager.show({
                title: "Error",
                msg: result.errorMsg,
              });
            } else {
              $("#dlg").dialog("close"); // close the dialog
              $("#dg").datagrid("reload"); // reload the user data
            }
          },
        });
      }

      function destroyUser() {
        var row = $("#dg").datagrid("getSelected");
        if (row) {
          $.messager.confirm(
            "Confirm",
            "Are you sure you want to destroy this user?",
            function (r) {
              if (r) {
                // Cambio de $.post a $.ajax para poder usar el método DELETE
                $.ajax({
                  url:
                    "../controller/controllerEstudiante.php?cedula=" +
                    row.cedula, // Asegúrese de que la URL sea correcta
                  type: "DELETE", // Método DELETE
                  success: function (result) {
                    var result = JSON.parse(result);
                    if (result.errorMsg) {
                      $.messager.show({
                        title: "Error",
                        msg: result.errorMsg,
                      });
                    } else {
                      $("#dg").datagrid("reload"); // recargar los datos del usuario
                    }
                  },
                  error: function (xhr, status, error) {
                    $.messager.show({
                      title: "Error",
                      msg: error,
                    });
                  },
                });
              }
            }
          );
        }
      }
    </script>
  </body>
</html>
